<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsum odio qui?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsum odio qui?</p>
    </section>
</body>
</html>
